:root {
  --header-height: 57px;
  --nav-height: 36px;
  --top-section-height: calc(var(--header-height) + var(--nav-height));
  --light-gray: #f2f2f2;
  --peach-dark: #ffd9b3;
  --peach-light: #ffe6cc;
  --red: #ff3333;
  --white: #ffffff;
  --slate-light-gray: #fbfafa;
  --dark-gray: #595858;
  --yellow: #f2d537;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--light-gray);
}

a:link {
  color: var(--black);
}

a:visited {
  color: var(--black);
}

button {
  padding: 4px 7px 4px 7px;
  background-color: var(--peach-light);
  border: 1px solid var(--peach-dark);
  border-radius: 11px;
  cursor: pointer;
}

.input__quantity {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 4px;
  background-color: var(--slate-light-gray);
}

/* UI */
/* Login Modal */
form > label > input {
  border: 2px solid var(--peach-dark);
  border-radius: 4px;
}

.login-modal {
  width: 500px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65);
}

.modal-open {
  cursor: pointer;
}

.modal-close {
  float: right;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
}

form > label {
  display: block;
}

.password-message {
  display: none;
  color: var(--red);
}

.login-modal-message {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.button-group {
  display: flex;
  gap: 9px;
  margin-top: 12px;
}

.google-button {
  margin-top: 12px;
}

/* Font Awesome icons */
.fa-solid.fa-star {
  color: var(--yellow);
}

.fa-solid.fa-star-half {
  color: var(--yellow);
}

.fa-solid.fa-cart-shopping {
  position: relative;
}

.cart-counter {
  padding: 4px;
  position: absolute;
  left: 12px;
  bottom: 8px;
  border-radius: 50%;
  background-color: var(--red);
  font-size: 11px;
  font-weight: bold;
  color: var(--white);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
  padding-left: 35px;
  height: var(--header-height);
  background-color: var(--peach-dark);
}

.logo {
  display: inline-block;
  width: auto;
}

.logo > span {
  display: block;
}

.logo__text--red {
  color: var(--red);
}

.logo__text--white {
  color: var(--white);
}

.logo__text--center {
  text-align: center;
}

.search-bar {
  display: inline-block;
  background-color: var(--slate-light-gray);
  border-radius: 7px;
  position: relative;
}

.search-bar__input {
  padding-left: 4px;
  border: none;
  border-radius: 7px;
  background-color: var(--slate-light-gray);
}

.search-bar__input:focus-visible {
  outline: none;
}

.search-bar__submit-button {
  padding: 0px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  margin-top: 2px;
  border: none !important;
  border-radius: 7px;
  background-color: var(--slate-light-gray);
}

.search-bar__divider {
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 22px;
  background-color: rgba(0,0,0,0.05);
}

.header-buttons {
  display: inline-block;
}

.header-buttons > i:nth-child(1) {
  margin-right: 22px;
}

/* Navigation */
nav {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  height: var(--nav-height);
  text-align: center;
  background-color: var(--peach-light);
}

nav > a {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 19px;
  text-decoration: none;
  color: var(--black);
}

nav > a:hover {
  text-decoration: underline;
}

.nav__anchor--red {
  color: var(--red) !important;
}

.nav__anchor--red:visited {
  color: var(--red) !important;
}

/* Main */
.products-view {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 15px 18px;
}

/* Category Filter */
.category-filter {
  padding: 12px;
}

.category {
  display: grid;
  grid-template-columns: 8fr 1fr;
  padding-left: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.25);
  background-color: var(--slate-light-gray);
  color: var(--dark-gray);
  font-weight: 600;
}

.category__plus {
  cursor: pointer;
}

.category__dropdown__item {
  font-weight: normal;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

/* Product */
.product {
  margin: 9px 19px;
  width: 250px;
  background-color: var(--slate-light-gray);
}

.product__image {
  width: 100%;
  height: 375px;
}

.product > div {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

.product > div > button {
  margin-left: 3px;
  margin-right: 3px;
}

.product__price--line-through {
  margin-left: 4px;
  text-decoration: line-through;
  font-size: 0.7rem;
  opacity: 0.5;
}

.product__buttons {
  margin-top: 7px !important;
  margin-bottom: 9px !important;
}

/* Product view */
.product-view {
  padding-top: 5%;
}

.product-view__product-name {
  display: block;
  font-weight: bold;
}

.product-view__details {
  padding-left: 6%;
  padding-top: 2%;
}

.product-view__main {
  display: grid;
  grid-template-columns: 550px 1fr;
  padding-left: 6%;
}

.product-view__img {
  width: auto;
  height: 500px;
}

.product-view__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 46px;
}

.product-view__title {
  font-weight: bold;
}

.product-view__bullets {
  padding-left: 0;
  list-style-position: inside;
}

.product-view__buttons > button {
  margin-left: 3px;
  margin-right: 3px;
}

.product-view__quantity-input-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
}

.product-view__buttons {
  margin-top: 25px;
}

/* Cart */
.cart {
  padding: 15px 22px;
}

.cart__title {
  font-weight: bold;
  margin-top: 9px;
  margin-bottom: 9px;
}

.cart__container {
  display: grid;
  grid-template-columns: auto 255px;
  gap: 18px;
}

.cart__side-buttons > div {
  background-color: var(--white);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 11px 6px;
  text-align: center;
}

.cart__total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.cart__subtotal__value {
  margin-top: 2px;
}

.cart__recommended-items-title {
  margin-bottom: 18px;
}

.cart__recommended-item {
  margin-bottom: 15px;
}

.cart__recommended-item > img {
  width: 215px;
  height: 275px;
  cursor: pointer;
}

/* orders */
.order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 9px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 7px;
  background-color: var(--white);
}

.order__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 7px 11px;
}

.order__img {
  height: 400px;
  width: 275px;
}

.order__price--line-through {
  margin-left: 4px;
  text-decoration: line-through;
  font-size: 0.7rem;
  opacity: 0.5;
}
